<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOBAppSecret</key>
	<string>ecac8e8ded6bd1cf25b92a00b6505484</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>APP需要使用您的麦克风</string>
	<key>NSCameraUsageDescription</key>
	<string>APP需要使用您的相机</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要使用您的相册读取图片</string>
	<key>MOBAppKey</key>
	<string>2b95918e1aa94</string>
	<key>LSApplicationQueriesSchemes</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2288795978115782</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>FacebookAppID</key>
	<string>230354104513222</string>
	<key>FacebookDisplayName</key>
	<string>LoveChat</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2617109421747439~7923926861</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0,</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent</string>
		<string>hasgplus4</string>
		<string>googlechrome-x-callback</string>
		<string>googlechrome</string>
		<string>fbapi20130214</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>googlegmail</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>whatsapp</string>
		<string>fb</string>
	</array>
	<key>MOBAppKey</key>
	<string>2b95918e1aa94</string>
	<key>MOBAppSecret</key>
	<string>ecac8e8ded6bd1cf25b92a00b6505484</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
